@media only screen and (min-width: 1025px) {
    .cardMoblie {
        display: none;
    }

    .card {
        height: 1057px;
        background-color: #EDF6F9;
        width: 100%;
        padding: 0 126px 0 126px;

    }



    .cardList {
        border-radius: 5px;
        height: 402px;
        width: 279px;
        margin-top: 15px;

        &-item {
            background-color: white;
            height: 402px;
            width: 279px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        }

        &-top {
            border-radius: 10px 10px 0 0;

            img {
                width: 279px;
                height: 155px;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 10px 10px 0 0;
            }
        }

        &-bottom {
            border-radius: 10px;
        }

    }

    .btn-location:hover {
        background-color: #4A5568;
        color: white;

    }
}

@media only screen and (min-width:415px) and (max-width:768px) {
    .cardMoblie {
        display: none;
    }

    .card {
        height: 1600px;
        background-color: #EDF6F9;
        padding: 5px;
    }

    .cardList {
        margin-top: 10px;
        border-radius: 10px;
        height: 430px;
        width: 200px;

        &-item {
            background-color: white;
            height: 430px;
            width: 250px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        }

        &-top {
            border-radius: 10px 10px 0 0;

            img {
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 10px 10px 0 0;
            }
        }

        &-bottom {
            border-radius: 10px;


        }



    }

}


@media only screen and (min-width:769px) and (max-width: 1024px) {
    .cardMoblie {
        display: none;
    }

    .card {
        height: 1057px;
        background-color: #EDF6F9;
        width: 100%;
        padding: 5px;

    }

    .cardList {
        border-radius: 5px;
        height: 402px;
        width: 250px;
        margin-top: 15px;

        &-item {
            background-color: white;
            height: 402px;
            width: 230px;
            border-radius: 10px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
        }

        &-top {
            border-radius: 10px 10px 0 0;

            img {
                width: 279px;
                height: 155px;
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 10px 10px 0 0;
            }
        }

        &-bottom {
            border-radius: 10px;
        }

    }

    .btn-location:hover {
        background-color: rgb(171, 169, 168);
        color: white;
    }
}



@media only screen and (max-width: 415px) {
    .card {
        display: none;
    }

    .cardMoblie {
        height: 680px;
        background-color: #EDF6F9;
    }

    .cardList {
        margin-left: 10px;
        margin-top: 20px;
        border-radius: 10px;
        height: 500px;
        width: 301px;
        border-radius: 10px;


        &-item {
            background-color: white;
            height: 500px;
            width: 320px;
            border-radius: 10px;
        }

        &-top {
            border-radius: 10px 10px 0 0;

            img {
                background-size: cover;
                background-repeat: no-repeat;
                border-radius: 10px 10px 0 0;
            }
        }

        &-bottom {
            border-radius: 10px;


        }



    }
}