.header {
    //background-image: url("./../../img/Rectangle5.png");

    // height: 572px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

@media only screen and (max-width: 46.1875em) {
    .header {
        height: 300px;
    }
}